<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hey, {{name}}</p>
  <p>A password reset was requested for your account!</p>
  <p>If it was requested by you, click the following link to choose a new password.</p>
  <p>
    <a href="{{link}}">Reset Password</a>
  </p>
  <p>If this request was not made by you, ignore this message.</p>
  <p>
    Thank you!<br />
    <strong>Barbetto Support</strong>
  </p>
</div>
